In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\SMART-09\\lee'

In [3]:
myData = pd.read_csv("../lee/Python_ST_EX/dataset/kopo_channel_seasonality_new.csv")

In [4]:
myData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0
3      A60  PRODUCT47    201402      0.0
4      A60  PRODUCT56    201402     23.0

In [5]:
import psycopg2
from sqlalchemy import create_engine

In [6]:
myengine = create_engine("postgresql://kopo:kopo@192.168.110.111:5432/kopo")

In [7]:
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', myengine)

In [8]:
selloutData.head()

  REGIONID PRODUCTGROUP YEARWEEK  VOLUME
0      A01       ST0002   201512  151750
1      A01       ST0002   201520  125863
2      A01       ST0002   201515  128999
3      A01       ST0002   201518  134467
4      A01       ST0002   201513  140297

In [9]:
resultname='SEOB'
selloutData.to_sql(resultname, myengine, if_exists='replace')

## 실습1

In [10]:
import psycopg2
from sqlalchemy import create_engine

In [11]:
baeEngine = create_engine("postgresql://postgres:postgres@192.168.110.2:5432/postgres")

In [12]:
baeData = pd.read_sql_query('SELECT * FROM pgresult', baeEngine)

In [13]:
baeData.head()

  regionid    product  yearweek      qty
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0
3      A60  PRODUCT47    201402      0.0
4      A60  PRODUCT56    201402     23.0

In [14]:
baeData.columns = ["REGIONID", "PRODUCT", "YEARWEEK", "QTY"]

In [15]:
#데이터 저장하기
# resultname='BAEWOOK'
# baeData.to_sql(resultname, myengine, if_exists='replace')

## 1. 데이터 조작

In [16]:
import pandas as pd

In [17]:
selloutData = pd.read_csv("../lee/Python_ST_EX/dataset/kopo_channel_seasonality_new.csv")

In [18]:
selloutData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0
3      A60  PRODUCT47    201402      0.0
4      A60  PRODUCT56    201402     23.0

In [19]:
# 1. 데이터 타입 변환하기

In [20]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

In [21]:
selloutData["YEARWEEK"] = selloutData.YEARWEEK.astype(str)

In [22]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
dtype: object

In [23]:
# 마이너스 값이 있는지 확인
selloutData.min()

REGIONID         A00
PRODUCT     PRODUCT1
YEARWEEK      201401
QTY             -364
dtype: object

In [24]:
selloutData.max()

REGIONID            A77
PRODUCT        PRODUCT8
YEARWEEK         201652
QTY         1.66321e+06
dtype: object

In [25]:
# 2. 행/열 조회

In [26]:
len(selloutData[selloutData.QTY < 0])

323

In [27]:
selloutData.min()

REGIONID         A00
PRODUCT     PRODUCT1
YEARWEEK      201401
QTY             -364
dtype: object

In [28]:
# 3. 데이터 정제

In [29]:
import numpy as np

In [30]:
# 마이너스 값 제거하기(새로운 컬럼 "NEW_QTY")
selloutData["NEW_QTY"] = np.where(selloutData.QTY < 0, 0, selloutData.QTY)

In [31]:
selloutData.min()

REGIONID         A00
PRODUCT     PRODUCT1
YEARWEEK      201401
QTY             -364
NEW_QTY            0
dtype: object

In [32]:
len(selloutData[selloutData.QTY < 0])

323

In [33]:
len(selloutData[selloutData.NEW_QTY < 0])

0

In [34]:
len(selloutData)

124658

In [35]:
len(selloutData[selloutData.QTY  == selloutData.NEW_QTY])

124335

In [36]:
# 53주차 제거하기

In [37]:
selloutData["YEAR"] = selloutData.YEARWEEK.str[0:4]

In [38]:
selloutData["WEEK"] = selloutData.YEARWEEK.str[4:]

In [40]:
selloutData["WEEK"] = selloutData["WEEK"].astype(int)

In [41]:
refinedSelloutData = selloutData[selloutData.WEEK < 53]

In [42]:
len(refinedSelloutData)

123864

In [43]:
# 데이터 정렬하기

In [44]:
sortKey = ["REGIONID", "YEARWEEK","QTY"]

In [45]:
refinedSelloutData.sort_values(sortKey, ascending = True, inplace = True)
refinedSelloutData.head()

C:\Users\SMART-09\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

     REGIONID    PRODUCT YEARWEEK     QTY  NEW_QTY  YEAR  WEEK
296       A00  PRODUCT58   201401     0.0      0.0  2014     1
298       A00  PRODUCT34   201401   661.0    661.0  2014     1
297       A00  PRODUCT59   201401  9988.0   9988.0  2014     1
1755      A00  PRODUCT58   201402     0.0      0.0  2014     2
1757      A00  PRODUCT34   201402   679.0    679.0  2014     2

## 2. 데이터 집계(Group By)

In [46]:
groupKey = ["REGIONID", "PRODUCT"]

In [47]:
groupData = refinedSelloutData.groupby(groupKey)["NEW_QTY"].agg(["mean"]).reset_index()

In [48]:
groupData.head()

  REGIONID    PRODUCT           mean
0      A00  PRODUCT34     133.057692
1      A00  PRODUCT58     105.250000
2      A00  PRODUCT59   35957.570513
3      A01   PRODUCT1    5712.775641
4      A01  PRODUCT12  196825.403846

## 3. 데이터 조인하기

In [49]:
joinKey = ["REGIONID", "PRODUCT"]

In [50]:
mergeResult = pd.merge(refinedSelloutData, groupData, left_on = joinKey, right_on=joinKey, how = "left")
mergeResult

,REGIONID,PRODUCT,YEARWEEK,QTY,NEW_QTY,YEAR,WEEK,mean
0,A00,PRODUCT58,201401,0.0,0.0,2014,1,105.250000
1,A00,PRODUCT34,201401,661.0,661.0,2014,1,133.057692
2,A00,PRODUCT59,201401,9988.0,9988.0,2014,1,35957.570513
3,A00,PRODUCT58,201402,0.0,0.0,2014,2,105.250000
4,A00,PRODUCT34,201402,679.0,679.0,2014,2,133.057692
5,A00,PRODUCT59,201402,9005.0,9005.0,2014,2,35957.570513
6,A00,PRODUCT58,201403,0.0,0.0,2014,3,105.250000
7,A00,PRODUCT34,201403,578.0,578.0,2014,3,133.057692
8,A00,PRODUCT59,201403,8416.0,8416.0,2014,3,35957.570513
9,A00,PRODUCT58,201404,0.0,0.0,2014,4,105.250000
10,A00,PRODUCT34,201404,532.0,532.0,2014,4,133.057692
11,A00,PRODUCT59,201404,8553.0,8553.0,2014,4,35957.570513
12,A00,PRODUCT58,201405,0.0,0.0,2014,5,105.250000
13,A00,PRODUCT34,201405,516.0,516.0,2014,5,133.057692
14,A00,PRODUCT59,201405,10355.0,10355.0,2014,5,35957.570513
15,A00,PRODUCT58,201406,0.0,0.0,2014,6,105.250000
16,A00,PRODUCT34,201406,423.0,423.0,2014,6,133.057692
17,A00,PRODUCT59,201406,13799.0,13799.0,2014,6,35957.570513
18,A00,PRODUCT58,201407,0.0,0.0,2014,7,105.250000
19,A00,PRODUCT34,201407,407.0,407.0,2014,7,133.057692
20,A00,PRODUCT59,201407,17292.0,17292.0,2014,7,35957.570513
21,A00,PRODUCT58,201408,0.0,0.0,2014,8,105.250000
22,A00,PRODUCT34,201408,364.0,364.0,2014,8,133.057692
23,A00,PRODUCT59,201408,16369.0,16369.0,2014,8,35957.570513
24,A00,PRODUCT58,201409,0.0,0.0,2014,9,105.250000
25,A00,PRODUCT34,201409,470.0,470.0,2014,9,133.057692
26,A00,PRODUCT59,201409,15047.0,15047.0,2014,9,35957.570513
27,A00,PRODUCT58,201410,0.0,0.0,2014,10,105.250000
28,A00,PRODUCT34,201410,538.0,538.0,2014,10,133.057692
29,A00,PRODUCT59,201410,15895.0,15895.0,2014,10,35957.570513
...,...,...,...,...,...,...,...,...
123834,A77,PRODUCT1,201638,4699.0,4699.0,2016,38,2889.333333
123835,A77,PRODUCT12,201638,5583.0,5583.0,2016,38,3471.307692
123836,A77,PRODUCT1,201639,3665.0,3665.0,2016,39,2889.333333
123837,A77,PRODUCT12,201639,14734.0,14734.0,2016,39,3471.307692
123838,A77,PRODUCT1,201640,3021.0,3021.0,2016,40,2889.333333
123839,A77,PRODUCT12,201640,3603.0,3603.0,2016,40,3471.307692
123840,A77,PRODUCT1,201641,3299.0,3299.0,2016,41,2889.333333
123841,A77,PRODUCT12,201641,4010.0,4010.0,2016,41,3471.307692
123842,A77,PRODUCT1,201642,3048.0,3048.0,2016,42,2889.333333
123843,A77,PRODUCT12,201642,4292.0,4292.0,2016,42,3471.307692
123844,A77,PRODUCT1,201643,3790.0,3790.0,2016,43,2889.333333
123845,A77,PRODUCT12,201643,5760.0,5760.0,2016,43,3471.307692
123846,A77,PRODUCT1,201644,2450.0,2450.0,2016,44,2889.333333
123847,A77,PRODUCT12,201644,4109.0,4109.0,2016,44,3471.307692
123848,A77,PRODUCT1,201645,2925.0,2925.0,2016,45,2889.333333
123849,A77,PRODUCT12,201645,4506.0,4506.0,2016,45,3471.307692
123850,A77,PRODUCT1,201646,2998.0,2998.0,2016,46,2889.333333
123851,A77,PRODUCT12,201646,4255.0,4255.0,2016,46,3471.307692
123852,A77,PRODUCT1,201647,2920.0,2920.0,2016,47,2889.333333
123853,A77,PRODUCT12,201647,3574.0,3574.0,2016,47,3471.307692
123854,A77,PRODUCT1,201648,3070.0,3070.0,2016,48,2889.333333
123855,A77,PRODUCT12,201648,4152.0,4152.0,2016,48,3471.307692
123856,A77,PRODUCT1,201649,4222.0,4222.0,2016,49,2889.333333
123857,A77,PRODUCT12,201649,5086.0,5086.0,2016,49,3471.307692
123858,A77,PRODUCT1,201650,4422.0,4422.0,2016,50,2889.333333
123859,A77,PRODUCT12,201650,5846.0,5846.0,2016,50,3471.307692
123860,A77,PRODUCT1,201651,3671.0,3671.0,2016,51,2889.333333
123861,A77,PRODUCT12,201651,4933.0,4933.0,2016,51,3471.307692
123862,A77,PRODUCT1,201652,2759.0,2759.0,2016,52,2889.333333
123863,A77,PRODUCT12,201652,7551.0,7551.0,2016,52,3471.307692

In [51]:
len(mergeResult)

123864

In [52]:
mergeResult.columns = ['REGIONID', 'PRODUCT', 'YEARWEEK', 'QTY', 'QTY_NEW', 'YEAR', 'WEEK', 'QTY_MEAN']

In [53]:
mergeResult["SEASONALITY"] = np.where(mergeResult.QTY_MEAN != 0, mergeResult.QTY_NEW / mergeResult.QTY_MEAN, 0)

In [229]:
mergeResult.dtypes

REGIONID        object
PRODUCT         object
YEARWEEK        object
QTY            float64
QTY_NEW        float64
YEAR            object
WEEK             int32
QTY_MEAN       float64
SEASONALITY    float64
dtype: object

In [56]:
mergeResult.min()

REGIONID             A00
PRODUCT         PRODUCT1
YEARWEEK          201401
QTY                 -364
QTY_NEW                0
YEAR                2014
WEEK                   1
QTY_MEAN       0.0128205
SEASONALITY            0
dtype: object

In [80]:
len(mergeResult)

123864

In [101]:
groupKey2 = ["REGIONID", "PRODUCT", "YEAR", "WEEK"]

In [102]:
finalData = mergeResult.groupby(groupKey2)["SEASONALITY"].agg(["mean"]).reset_index()

In [103]:
finalData.columns = ['REGIONID', 'PRODUCT', "YEAR", 'WEEK', 'SEASONALITY']

In [104]:
finalData["WEEK"] = np.where(finalData.WEEK < 10,  "0" + finalData.WEEK.astype(str), finalData.WEEK.astype(str))

In [105]:
finalData.head()

  REGIONID    PRODUCT  YEAR WEEK  SEASONALITY
0      A00  PRODUCT34  2014   01     4.967770
1      A00  PRODUCT34  2014   02     5.103050
2      A00  PRODUCT34  2014   03     4.343980
3      A00  PRODUCT34  2014   04     3.998266
4      A00  PRODUCT34  2014   05     3.878017

In [106]:
len(finalData)

123864

In [260]:
#이동평균 구간 정의
# order = 5
# import math
# suborder = math.floor(order/2)
# suborder
#연산 -> window 이동평균 구하는 값의 개수, center가 True일시 위로 두개,아래로 두개의
# 데이터가 있어야 함. center가 False일시 위로 4개의 데이터가 있어야 함.True,False로
# 변화하면서 Test값을 비교해보면 쉽게 이해할 수 있음.
def mafunction(oneGroup, in_window):
    eachData = oneGroup.reset_index(drop = True)
    eachData["MA"] = eachData["NEW_QTY"].rolling(window = in_window, center = True, min_periods=1).mean()
    return eachData

In [119]:
groupKey3 = ["REGIONID", "PRODUCT"]

In [120]:
WINDOW = 5

In [126]:
groupData2 = refinedSelloutData.groupby(groupKey3).apply(mafunction, (WINDOW))

In [129]:
groupData2

                       REGIONID    PRODUCT YEARWEEK      QTY  NEW_QTY  YEAR  \
REGIONID PRODUCT
A00      PRODUCT34 0        A00  PRODUCT34   201401    661.0    661.0  2014
                   1        A00  PRODUCT34   201402    679.0    679.0  2014
                   2        A00  PRODUCT34   201403    578.0    578.0  2014
                   3        A00  PRODUCT34   201404    532.0    532.0  2014
                   4        A00  PRODUCT34   201405    516.0    516.0  2014
                   5        A00  PRODUCT34   201406    423.0    423.0  2014
                   6        A00  PRODUCT34   201407    407.0    407.0  2014
                   7        A00  PRODUCT34   201408    364.0    364.0  2014
                   8        A00  PRODUCT34   201409    470.0    470.0  2014
                   9        A00  PRODUCT34   201410    538.0    538.0  2014
                   10       A00  PRODUCT34   201411    369.0    369.0  2014
                   11       A00  PRODUCT34   201412    352.0    352.0  2014
                   12       A00  PRODUCT34   201413    354.0    354.0  2014
                   13       A00  PRODUCT34   201414    312.0    312.0  2014
                   14       A00  PRODUCT34   201415    295.0    295.0  2014
                   15       A00  PRODUCT34   201416    284.0    284.0  2014
                   16       A00  PRODUCT34   201417    237.0    237.0  2014
                   17       A00  PRODUCT34   201418    180.0    180.0  2014
                   18       A00  PRODUCT34   201419    161.0    161.0  2014
                   19       A00  PRODUCT34   201420    140.0    140.0  2014
                   20       A00  PRODUCT34   201421    116.0    116.0  2014
                   21       A00  PRODUCT34   201422     98.0     98.0  2014
                   22       A00  PRODUCT34   201423     83.0     83.0  2014
                   23       A00  PRODUCT34   201424     71.0     71.0  2014
                   24       A00  PRODUCT34   201425     65.0     65.0  2014
                   25       A00  PRODUCT34   201426     60.0     60.0  2014
                   26       A00  PRODUCT34   201427     82.0     82.0  2014
                   27       A00  PRODUCT34   201428    151.0    151.0  2014
                   28       A00  PRODUCT34   201429    274.0    274.0  2014
                   29       A00  PRODUCT34   201430    532.0    532.0  2014
...                         ...        ...      ...      ...      ...   ...
A77      PRODUCT12 126      A77  PRODUCT12   201623   5348.0   5348.0  2016
                   127      A77  PRODUCT12   201624   3275.0   3275.0  2016
                   128      A77  PRODUCT12   201625   4158.0   4158.0  2016
                   129      A77  PRODUCT12   201626   4815.0   4815.0  2016
                   130      A77  PRODUCT12   201627   3002.0   3002.0  2016
                   131      A77  PRODUCT12   201628   3319.0   3319.0  2016
                   132      A77  PRODUCT12   201629   4200.0   4200.0  2016
                   133      A77  PRODUCT12   201630   7120.0   7120.0  2016
                   134      A77  PRODUCT12   201631   6345.0   6345.0  2016
                   135      A77  PRODUCT12   201632   5863.0   5863.0  2016
                   136      A77  PRODUCT12   201633   4211.0   4211.0  2016
                   137      A77  PRODUCT12   201634   4019.0   4019.0  2016
                   138      A77  PRODUCT12   201635   3624.0   3624.0  2016
                   139      A77  PRODUCT12   201636   3742.0   3742.0  2016
                   140      A77  PRODUCT12   201637   3002.0   3002.0  2016
                   141      A77  PRODUCT12   201638   5583.0   5583.0  2016
                   142      A77  PRODUCT12   201639  14734.0  14734.0  2016
                   143      A77  PRODUCT12   201640   3603.0   3603.0  2016
                   144      A77  PRODUCT12   201641   4010.0   4010.0  2016
                   145      A77  PRODUCT12   201642   4292.0   4292.0  2016
                   146      A77  PRODUCT12   201643   5760.0   5760.0  2016
                   147      A77  PRODUCT12   201644   4109.0   4109.0  2016
                   148      A77  PRODUCT12   201645   4506.0   4506.0  2016
                   149      A77  PRODUCT12   201646   4255.0   4255.0  2016
                   150      A77  PRODUCT12   201647   3574.0   3574.0  2016
                   151      A77  PRODUCT12   201648   4152.0   4152.0  2016
                   152      A77  PRODUCT12   201649   5086.0   5086.0  2016
                   153      A77  PRODUCT12   201650   5846.0   5846.0  2016
                   154      A77  PRODUCT12   201651   4933.0   4933.0  2016
                   155      A77  PRODUCT12   201652   7551.0   7551.0  2016

                        WEEK           MA
REGIONID PRODUCT
A00      PRODUCT34 0       1   639.333333
                   1       2   612.500000
                   2       3   593.200000
                   3       4   545.600000
                   4       5   491.200000
                   5       6   448.400000
                   6       7   436.000000
                   7       8   440.400000
                   8       9   429.600000
                   9      10   418.600000
                   10     11   416.600000
                   11     12   385.000000
                   12     13   336.400000
                   13     14   319.400000
                   14     15   296.400000
                   15     16   261.600000
                   16     17   231.400000
                   17     18   200.400000
                   18     19   166.800000
                   19     20   139.000000
                   20     21   119.600000
                   21     22   101.600000
                   22     23    86.600000
                   23     24    75.400000
                   24     25    72.200000
                   25     26    85.800000
                   26     27   126.400000
                   27     28   219.800000
                   28     29   297.600000
                   29     30   367.800000
...                      ...          ...
A77      PRODUCT12 126    23  4277.400000
                   127    24  4496.600000
                   128    25  4119.600000
                   129    26  3713.800000
                   130    27  3898.800000
                   131    28  4491.200000
                   132    29  4797.200000
                   133    30  5369.400000
                   134    31  5547.800000
                   135    32  5511.600000
                   136    33  4812.400000
                   137    34  4291.800000
                   138    35  3719.600000
                   139    36  3994.000000
                   140    37  6137.000000
                   141    38  6132.800000
                   142    39  6186.400000
                   143    40  6444.400000
                   144    41  6479.800000
                   145    42  4354.800000
                   146    43  4535.400000
                   147    44  4584.400000
                   148    45  4440.800000
                   149    46  4119.200000
                   150    47  4314.600000
                   151    48  4582.600000
                   152    49  4718.200000
                   153    50  5513.600000
                   154    51  5854.000000
                   155    52  6110.000000

[123864 rows x 8 columns]

### 빈 데이터 프레임 만들기

In [403]:
emptyColumns = ["REGIONID", "PRODUCT", "ITEM", "YEARWEEK", "QTY"]

In [404]:
emptydf = pd.DataFrame(columns=emptyColumns)

In [405]:
emptydf

Empty DataFrame
Columns: [REGIONID, PRODUCT, ITEM, YEARWEEK, QTY]
Index: []

In [406]:
# 교수님이 만들어 놓은 preWeek함수 사용하기 위한 모듈을 import
from fintechlab import CommonFunction as cf

In [407]:
cf.preWeek("201925", 1)

'201924'

### 데이터 삽입하기

In [408]:
REGIONID = "A00"
PRODUCT = "PRODUCT34"
ITEM = "ITEM01"
STARTWEEK = "201925"
QTY = 100

In [409]:
PAST_WINDOW =4

In [410]:
for i in range(0, PAST_WINDOW):
    emptydf = emptydf.append(pd.DataFrame([[REGIONID, PRODUCT, ITEM, cf.preWeek(STARTWEEK, i), QTY + (i*10)]],\
                                                                    columns = emptyColumns),\
                                                                    ignore_index = True)

In [411]:
emptydf

  REGIONID    PRODUCT    ITEM YEARWEEK  QTY
0      A00  PRODUCT34  ITEM01   201925  100
1      A00  PRODUCT34  ITEM01   201924  110
2      A00  PRODUCT34  ITEM01   201923  120
3      A00  PRODUCT34  ITEM01   201922  130

In [412]:
emptydf.dtypes

REGIONID    object
PRODUCT     object
ITEM        object
YEARWEEK    object
QTY         object
dtype: object

In [413]:
emptydf["YEAR"] = emptydf.YEARWEEK.str[0:4]
emptydf["WEEK"] = emptydf.YEARWEEK.str[4:6]

In [414]:
emptydf

  REGIONID    PRODUCT    ITEM YEARWEEK  QTY  YEAR WEEK
0      A00  PRODUCT34  ITEM01   201925  100  2019   25
1      A00  PRODUCT34  ITEM01   201924  110  2019   24
2      A00  PRODUCT34  ITEM01   201923  120  2019   23
3      A00  PRODUCT34  ITEM01   201922  130  2019   22

In [415]:
finalgroupKey = ["REGIONID","PRODUCT","WEEK"]

In [416]:
seasonMap = finalData.groupby(finalgroupKey)["SEASONALITY"].agg("mean").to_dict()

In [417]:
seasonMap["A00","PRODUCT34","01"]

2.0868140868140865

In [418]:
stdQty = emptydf.QTY.mean()

In [433]:
stdSeasonality = finalResult.SEASONALITY.mean()

In [419]:
finalData.columns = ['REGIONID', 'PRODUCT', 'YEAR','WEEK', 'SEASONALITY']

In [420]:
myCol = ["REGIONID", "PRODUCT", "WEEK", "SEASONALITY"]

In [421]:
weekList = emptydf.YEARWEEK.str[4:6]
seasonList = []
for i in weekList:
    seasonList.append(seasonMap[REGIONID,PRODUCT,i])
seasonList = pd.DataFrame(seasonList, columns =["SEASONALITY"])

In [422]:
seasonList

   SEASONALITY
0     0.283085
1     0.398323
2     0.438406
3     0.516067

In [423]:
#dataFrame끼리 붙일때
finalResult = pd.concat([emptydf, seasonList], axis =1)

In [424]:
finalResult

  REGIONID    PRODUCT    ITEM YEARWEEK  QTY  YEAR WEEK  SEASONALITY
0      A00  PRODUCT34  ITEM01   201925  100  2019   25     0.283085
1      A00  PRODUCT34  ITEM01   201924  110  2019   24     0.398323
2      A00  PRODUCT34  ITEM01   201923  120  2019   23     0.438406
3      A00  PRODUCT34  ITEM01   201922  130  2019   22     0.516067

In [425]:
FCST_WINDOW = 5

In [426]:
STARTWEEK

'201925'

In [429]:
for i in range(0,FCST_WINDOW):
    emptydf = emptydf.append(pd.DataFrame( [[REGIONID,
                                            PRODUCT, 
                                            ITEM,
                                           cf.postWeek(STARTWEEK, i + 1), 0]],
                                         columns = emptyColumns),
                            ignore_index = True)

In [430]:
emptydf

     ITEM    PRODUCT  QTY REGIONID WEEK  YEAR YEARWEEK
0  ITEM01  PRODUCT34  100      A00   25  2019   201925
1  ITEM01  PRODUCT34  110      A00   24  2019   201924
2  ITEM01  PRODUCT34  120      A00   23  2019   201923
3  ITEM01  PRODUCT34  130      A00   22  2019   201922
4  ITEM01  PRODUCT34    0      A00  NaN   NaN   201926
5  ITEM01  PRODUCT34    0      A00  NaN   NaN   201927
6  ITEM01  PRODUCT34    0      A00  NaN   NaN   201928
7  ITEM01  PRODUCT34    0      A00  NaN   NaN   201929
8  ITEM01  PRODUCT34    0      A00  NaN   NaN   201930

In [437]:
emptydf["FCST_QTY"] = 0
emptydf["AVG_QTY"] = stdQty
emptydf["AVG_SEASON"] = stdSeasonality
emptydf["YEAR"] = emptydf.YEARWEEK.str[0:4]
emptydf["WEEK"] = emptydf.YEARWEEK.str[4:6]

In [438]:
emptydf

,ITEM,PRODUCT,QTY,REGIONID,WEEK,YEAR,YEARWEEK,FCST,AVG_QTY,AVG_SEASON
0,ITEM01,PRODUCT34,100,A00,25,2019,201925,0,115.0,0.40897
1,ITEM01,PRODUCT34,110,A00,24,2019,201924,0,115.0,0.40897
2,ITEM01,PRODUCT34,120,A00,23,2019,201923,0,115.0,0.40897
3,ITEM01,PRODUCT34,130,A00,22,2019,201922,0,115.0,0.40897
4,ITEM01,PRODUCT34,0,A00,26,2019,201926,0,115.0,0.40897
5,ITEM01,PRODUCT34,0,A00,27,2019,201927,0,115.0,0.40897
6,ITEM01,PRODUCT34,0,A00,28,2019,201928,0,115.0,0.40897
7,ITEM01,PRODUCT34,0,A00,29,2019,201929,0,115.0,0.40897
8,ITEM01,PRODUCT34,0,A00,30,2019,201930,0,115.0,0.40897

In [441]:
weekList = emptydf.YEARWEEK.str[4:6]
seasonList = []
for i in weekList:
    seasonList.append(seasonMap[REGIONID,PRODUCT,i])
seasonList = pd.DataFrame(seasonList, columns =["SEASONALITY"])

In [442]:
seasonList

   SEASONALITY
0     0.283085
1     0.398323
2     0.438406
3     0.516067
4     0.250518
5     0.308137
6     0.493520
7     1.796213
8     1.407911

In [453]:
finalResult = pd.concat([emptydf, seasonList], axis =1)

In [454]:
finalResult

,ITEM,PRODUCT,QTY,REGIONID,WEEK,YEAR,YEARWEEK,FCST,AVG_QTY,AVG_SEASON,SEASONALITY
0,ITEM01,PRODUCT34,100,A00,25,2019,201925,0,115.0,0.40897,0.283085
1,ITEM01,PRODUCT34,110,A00,24,2019,201924,0,115.0,0.40897,0.398323
2,ITEM01,PRODUCT34,120,A00,23,2019,201923,0,115.0,0.40897,0.438406
3,ITEM01,PRODUCT34,130,A00,22,2019,201922,0,115.0,0.40897,0.516067
4,ITEM01,PRODUCT34,0,A00,26,2019,201926,0,115.0,0.40897,0.250518
5,ITEM01,PRODUCT34,0,A00,27,2019,201927,0,115.0,0.40897,0.308137
6,ITEM01,PRODUCT34,0,A00,28,2019,201928,0,115.0,0.40897,0.493520
7,ITEM01,PRODUCT34,0,A00,29,2019,201929,0,115.0,0.40897,1.796213
8,ITEM01,PRODUCT34,0,A00,30,2019,201930,0,115.0,0.40897,1.407911

In [457]:
finalResult["FCST_QTY"] = (finalResult.AVG_QTY * finalResult.SEASONALITY) / finalResult.AVG_SEASON

In [458]:
finalResult

,ITEM,PRODUCT,QTY,REGIONID,WEEK,YEAR,YEARWEEK,FCST,AVG_QTY,AVG_SEASON,SEASONALITY,FCST_QTY
0,ITEM01,PRODUCT34,100,A00,25,2019,201925,0,115.0,0.40897,0.283085,79.601838
1,ITEM01,PRODUCT34,110,A00,24,2019,201924,0,115.0,0.40897,0.398323,112.006126
2,ITEM01,PRODUCT34,120,A00,23,2019,201923,0,115.0,0.40897,0.438406,123.277182
3,ITEM01,PRODUCT34,130,A00,22,2019,201922,0,115.0,0.40897,0.516067,145.114855
4,ITEM01,PRODUCT34,0,A00,26,2019,201926,0,115.0,0.40897,0.250518,70.444104
5,ITEM01,PRODUCT34,0,A00,27,2019,201927,0,115.0,0.40897,0.308137,86.646248
6,ITEM01,PRODUCT34,0,A00,28,2019,201928,0,115.0,0.40897,0.493520,138.774885
7,ITEM01,PRODUCT34,0,A00,29,2019,201929,0,115.0,0.40897,1.796213,505.084227
8,ITEM01,PRODUCT34,0,A00,30,2019,201930,0,115.0,0.40897,1.407911,395.895865

In [465]:
finalResult.dtypes

ITEM            object
PRODUCT         object
QTY             object
REGIONID        object
WEEK            object
YEAR            object
YEARWEEK        object
FCST             int64
AVG_QTY        float64
AVG_SEASON     float64
SEASONALITY    float64
FCST_QTY       float64
dtype: object

In [474]:
finalResult["FCST_QTY"] = np.where(finalResult.YEARWEEK.astype(int) < 201926,\
                                                           0,\
                                                       (finalResult.AVG_QTY * finalResult.SEASONALITY) / finalResult.AVG_SEASON)

In [480]:
finalResult = finalResult.sort_values("WEEK")

In [481]:
finalResult[["REGIONID", "PRODUCT", "ITEM", "YEARWEEK", "WEEK", "QTY", "FCST_QTY", "AVG_QTY", "AVG_SEASON", "SEASONALITY"]]

,REGIONID,PRODUCT,ITEM,YEARWEEK,WEEK,QTY,FCST_QTY,AVG_QTY,AVG_SEASON,SEASONALITY
3,A00,PRODUCT34,ITEM01,201922,22,130,0.000000,115.0,0.40897,0.516067
2,A00,PRODUCT34,ITEM01,201923,23,120,0.000000,115.0,0.40897,0.438406
1,A00,PRODUCT34,ITEM01,201924,24,110,0.000000,115.0,0.40897,0.398323
0,A00,PRODUCT34,ITEM01,201925,25,100,0.000000,115.0,0.40897,0.283085
4,A00,PRODUCT34,ITEM01,201926,26,0,70.444104,115.0,0.40897,0.250518
5,A00,PRODUCT34,ITEM01,201927,27,0,86.646248,115.0,0.40897,0.308137
6,A00,PRODUCT34,ITEM01,201928,28,0,138.774885,115.0,0.40897,0.493520
7,A00,PRODUCT34,ITEM01,201929,29,0,505.084227,115.0,0.40897,1.796213
8,A00,PRODUCT34,ITEM01,201930,30,0,395.895865,115.0,0.40897,1.407911