In [1]:
import pandas as pd
import numpy as np

### 1. 데이터 불러오기 / 타입 통합

In [3]:
customerData = pd.read_csv("../../lee/Python_ST_EX/dataset/customer.csv")
customerData.head()

      deposit     stock    label
0  1400000000  45000000   normal
1  1450000000  72000000  diamond
2  1500000000  61000000  diamond
3  1370000000  56000000   normal
4  1920000000  48000000  diamond

In [4]:
customerData.dtypes

deposit     int64
stock       int64
label      object
dtype: object

### 2. 특성 선정/ 데이터 분리

In [20]:
from sklearn.model_selection import train_test_split
# trainData와 testData를 자동으로 분리해주는 모듈

In [21]:
### feature, label 컬럼 설정
features = ['deposit','stock']
label = ['label']

In [22]:
### feature 데이터, label 데이터 분리
featuresData = customerData[features]
labelData = customerData[label]

In [33]:
trainingData_features,\
testData_features,\
trainindData_label,\
testData_label = train_test_split(featuresData, labelData, test_size = 0.3, random_state = 3)

In [36]:
testData_label.head()

         label
1406    normal
2053    normal
12217  diamond
9794    normal
2802       vip

### 3. 모델 선언 및 학습

In [38]:
### Define Model
from sklearn import svm

In [39]:
model_method = svm.SVC()

### 4. 훈련 (훈련데이터(trainingData)의 feature를 활용)

In [40]:
model = model_method.fit(trainingData_features, trainindData_label)

C:\Users\SMART-09\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

### 5. 예측

In [44]:
predict = model.predict(testData_features)

In [53]:
testData_features2 = testData_features.reset_index(drop=True)

In [54]:
testData_label2 = testData_label.reset_index(drop=True)

In [55]:
mergedData = pd.concat([testData_features2, testData_label2], axis = 1)

In [57]:
mergedData.head()

      deposit     stock    label
0  1410000000  51000000   normal
1  1320000000  54000000   normal
2  1610000000  59000000  diamond
3  1270000000  68000000   normal
4  1970000000  77000000      vip

In [59]:
mergedData["PREDICT"] = predict

In [65]:
mergedData.head()

      deposit     stock    label  PREDICT
0  1410000000  51000000   normal   normal
1  1320000000  54000000   normal   normal
2  1610000000  59000000  diamond  diamond
3  1270000000  68000000   normal   normal
4  1970000000  77000000      vip      vip

In [79]:
# 로컬에 결과 저장
mergedData.to_csv("./mergedData.csv")

In [68]:
# 답지와 predict가 다른 열을 discordance라는 변수에 담음

In [69]:
discordance = mergedData[mergedData.label != mergedData.PREDICT]

In [70]:
len(discordance)

69

In [96]:
len(mergedData[(mergedData.label == "vip") & (mergedData.PREDICT == "diamond")])

19

### 6. 결과검증

In [101]:
# 모델 정확도 라이브러리 선언
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [102]:
# 결과 테스트하기
ac_score = accuracy_score(mergedData.label, mergedData.PREDICT)
# ac_score계산하는 로직 --> 정답개수 / 전체개수
cl_report = classification_report(mergedData.label, mergedData.PREDICT)

In [103]:
## 결과 리포트하기
print("Accuracy =", ac_score)
print("result =\n", cl_report)

Accuracy = 0.9885
result =
              precision    recall  f1-score   support

    diamond       0.98      1.00      0.99      3453
     normal       1.00      0.97      0.99      1795
        vip       1.00      0.97      0.99       752

avg / total       0.99      0.99      0.99      6000